
body {
    background: url("../images/map.jpg");
    background-size: cover;
    font-family: "Modern Antiqua";
    font-size: 20px;
}
header {
    background: url("../images/wood.jpg");
    border-radius: 50% 50% 0 0;
    padding: 5%;
    color: goldenrod;
    text-align:center;
    margin-bottom: 0;
    height:10%;
}
.status {
    color: black;
    background: rgba(255,255,255,0.8);
    text-align: center;
    height: 5%;
    display:flex;
    align-items:center;
}
.main-content {
    background: url("../images/gold-coins.jpg");
    background-size: cover;
    border: 20px solid transparent;
    border-top: none;
    border-bottom: none;
    border-image: url("../images/wood.jpg") 50 repeat;
}
.crystals-collected {
    height: 30vw;
    position: relative;
}
.crystal-collected {
    height: 5vw;
    width:auto;
}
.crystal-display {
    background: url("../images/wood.jpg");
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.crystal {
    cursor: pointer;
    max-width: 15%;
    background: none;
    margin: 2%;
}
.win-lose-message {
    position: absolute;
    top: 30%;
    left: 34%;
    text-align: center;
    color: black;
    padding: 5%;
    z-index: 2;
}
